* {
    box-sizing: border-box;
}

/* Flex basics */
.flex-container{
    display: flex;
    background-color: #2cbdb2;
    flex-wrap: wrap; /* ermöglicht das Umbrechen der Items  */


    /* Verschachteln von CSS (Aufbau wie HTML)
        .flex-item{
            background-color: #ddd;
            border: 1px solid #000;
            padding: 2em;
        }
    */
}

.flex-item{
    background-color: #ddd;
    border: 1px solid #000;
    padding: 2em;
    width: 25%;
}

/* Flex-Header mit Positionierungen */
.flex-header{
    min-height: 75vh;
    background-color: #ef8383;
    display: flex;
}


.left-top{
    justify-content: flex-start; /* von links nach rechts */
    align-items: flex-start; /* von oben nach unten */
}

.center-top{
    justify-content: center;
    align-items: flex-start;
}

.right-top{
    justify-content: flex-end;
    align-items: flex-start;
}

.left-center{
    justify-content: flex-start;
    align-items: center;
}

.center-center{
    justify-content: center;
    align-items: center;
}

.right-center{
    justify-content: right;
    align-items: center;
}

.left-bottom{
    justify-content: flex-start;
    align-items: flex-end;
}

.center-bottom{
    justify-content: center;
    align-items: flex-end;
}

.right-bottom{
    justify-content: flex-end;
    align-items: flex-end;
}

/* Flex Columns */
.flex-columns{
    display: flex;
    margin-left: -1rem;
    margin-right: -1rem;
}

.flex-columns .column{
    padding: 1rem;
    flex-grow: 1;
    flex-basis: 0;
}

.flex-columns .inner{
    background-color: #ddd;
    border: 1px solid #000;
    padding: 2em;
}

/* Flex Columns GAP */
.flex-columns-gap{
    display: flex;
    gap: 2rem;
}

.flex-columns-gap .item{
    background-color: #d8970a;
    border: 1px solid #0ab7ff;
    padding: 2rem;
    /*
    width: calc(100% / 3);
     */
    flex-grow: 1;
    flex-basis: 0;
}

.gap-two{
    flex-wrap: wrap;
    display: flex;
    gap: 2rem;
    margin-top: 20px;
    justify-content: space-between;
}

.gap-two .item{
    width: 30%;
    background-color: #d8970a;
    border: 1px solid #0ab7ff;
    padding: 2rem;
}


/* Flex Basis & Grow */
.flex-basis{
    display: flex;
    gap: 10px;
    border: 1px solid #000
}

.item{
    background-color: #2cbdb2;
    padding: 15px;
    text-align: center;
}

.item-1{
    flex-basis: /* 100px */ 30%;
    flex-grow: 1;
}

.item-2{
    flex-basis: /* 200px */ 10%;
    flex-grow: 2;
}

.item-3{
    flex-basis: /*150px*/ 20%;
    flex-grow: 1;
}

/* Flex Shrink */

.flex-shrink{
    display: flex;
    gap: 10px;
    padding: 20px;
    border: 1px solid #1d651d;
    width: 600px;
}

.shrink-item{
    background-color: #ef8383;
    padding: 25px;
    text-align: center;
    width: 250px;
}

.shrink-item-1{
    flex-shrink: 1;
}

.shrink-item-2{
    flex-shrink: 2;
}

.shrink-item-3{
    flex-shrink: 3;
}
